<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_extra_' + getCode()}">
                <!-- Método (Cartão, PIX) -->
                <!-- ko if: hasOpenbanking() -->
                <div class="field choice">
                    <input type="radio"
                           class="radio"
                           name="payment[bc_paymentMethod]"
                           data-bind="attr: {'id': 'credit_card'}, value: 'credit_card', checked: paymentMethod" />
                    <label data-bind="attr: {'for': 'credit_card'}" class="label">
                        <span>Cartão de Crédito</span>
                    </label>
                </div>
                <div class="field choice">
                    <input type="radio"
                           class="radio"
                           name="payment[bc_paymentMethod]"
                           data-bind="attr: {'id': 'pix'}, value: 'pix', checked: paymentMethod" />
                    <label data-bind="attr: {'for': 'pix'}" class="label">
                        <span>PIX</span>
                    </label>
                </div>
                <!-- /ko -->

                <!-- ko if: hasCards() && isCreditCard -->
                <div class="field date required" data-bind="attr: {id: getCode() + '_card_id_div'}">
                    <label data-bind="attr: {for: getCode() + '_card_id'}" class="label">
                        <span><!-- ko i18n: 'Selecionar Cartão'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <div class="fields group group-2">
                            <div class="field no-label">
                                <div class="control">
                                    <select class="select" data-bind="attr: {id: getCode() + '_card_id'},
                                                                                    enable: isActive($parents),
                                                                                    options: getCards(),
                                                                                    optionsValue: 'card_id',
                                                                                    optionsText: function(card) { return `${card.card_holder_name} - Final ${card.card_last_digits}` },
                                                                                    optionsCaption: 'Novo Cartão',
                                                                                    value: card_id">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if: paymentMethod -->
                <div class="field number required">
                    <label data-bind="attr: {for: getCode() + '_cpf'}" class="label">
                        <span><!-- ko i18n: 'CPF'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="number" name="payment[cpf]" class="input-text" value=""
                            oncopy="return false;"
                            oncut="return false;"
                            onpaste="return false;"
                            data-bind="attr: {
                                            autocomplete: off,
                                            id: getCode() + '_cpf',
                                            title: $t('CPF'),
                                            'data-container': getCode() + '-cpf',
                                        },
                                        enable: isActive($parents),
                                        value: cpf,
                                        valueUpdate: 'keyup' "/>
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if: isPix -->
                <div><p>O QRCode para pagamento do PIX ficará disponível no pedido após finalização da ordem.</p></div>
                <!-- /ko -->
            </fieldset>

            <!-- Render the native credit card form. -->
            <!-- ko if: renderCardForm -->
                <!-- ko template: 'Magento_Payment/payment/cc-form' --><!-- /ko -->
            <!-- /ko -->

            <div class="field installments required">
                <label for="installments" class="label">Parcelas</label>
                <select id="installments" name="installments" data-bind="value: installments">
                    <option value="1">1 Parcela</option>
                    <option value="2">2 Parcelas</option>
                    <option value="3">3 Parcelas</option>
                    <option value="4">4 Parcelas</option>
                    <option value="5">5 Parcelas</option>
                    <option value="6">6 Parcelas</option>
                    <option value="7">7 Parcelas</option>
                    <option value="8">8 Parcelas</option>
                    <option value="9">9 Parcelas</option>
                    <option value="10">10 Parcelas</option>
                    <option value="11">11 Parcelas</option>
                    <option value="12">12 Parcelas</option>
                    <option value="13">13 Parcelas</option>
                    <option value="14">14 Parcelas</option>
                    <option value="15">15 Parcelas</option>
                    <option value="16">16 Parcelas</option>
                    <option value="17">17 Parcelas</option>
                    <option value="18">18 Parcelas</option>
                </select>
            </div>
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        data-bind="
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        click: placeOrder,
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        class="action primary checkout"
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
